[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pip = "==19.2"
termcolor = "*"
terminaltables = "*"
tqdm = "*"

[requires]
python_version = "3.6"
